name: Run api_test
on :
  [push]
      #paths:
        #- 'docker_volume/unittest/kpi_movie_model/dict_prediction_comparaison.pkl'
        #- 'docker_volume/unittest/kpi_movie_model/dict_stability.pkl'
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install fastapi==0.96.0
        pip install pydantic==1.10.8
        pip install scikit-learn==1.2.2
        pip install urllib3==1.26.6
        pip install uvicorn==0.22.0
        pip install pytest
        pip install joblib
        pip install scipy
        pip install requests
        pip install httpx
        pip install pandas
    - name: Run api_test
      run: |
        
        cd test_unitaires
        pytest -v api_test.py
